includes:
	- phpstan-baseline.neon

parameters:
	paths:
		- Classes
		- ext_localconf.php
		- ext_tables.php
	level: 6
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		analyse:
			- Documentation
			- Tests
			- ext_emconf.php
			- Classes/CustomTimer/StrangerCode/
	fileExtensions:
		- php
		- module
		- inc
		- typoscript
